{
  "Parameters": {
    "APP_ENV": "local",
    "INFRA_MODE": "mock",
    "JWT_SECRET": "change-me-local",
    "JWT_EXP_MINUTES": "60",
    "LOG_LEVEL": "DEBUG",
    "WEBSOCKET_MANAGEMENT_ENDPOINT": "",
    "MESSAGE_DELIVERY_QUEUE_URL": ""
  }
}
